Source: aiofiles
Section: python
Priority: optional
Maintainer: David Steele <steele@debian.org>
Build-Depends:
    debhelper-compat (= 12),
    dh-python,
    pybuild-plugin-pyproject,
    python3-all,
    python3-toml,
    python3-poetry-core,
    python3-pytest,
    python3-pytest-asyncio,
Standards-Version: 4.5.1
Homepage: https://github.com/Tinche/aiofiles
Vcs-Browser: https://github.com/davesteele/aiofiles/tree/debian
Vcs-Git: https://github.com/davesteele/aiofiles.git -b debian

Package: python3-aiofiles
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends}
Description: support for Python asyncio file operations
 This module includes support for asynchronous file
 operations using the Python asyncio module.
